// Funciones
azul1 = #007dbe
azul2 = #006496
magenta1 = #d32840
magenta2 = #bf1339
gris1 = #ccc
gris2 = #f4f4f4
negro = #000
//Mixin´s

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -ms-border-radius n
  -o-border-radius n
  border-radius n

//Estilos

body
  background #fff!important
  color kamuran
  display block

header
  background #fff
  color #fff
  height 70px

.info
  background: #ccc
  height: 30px

.logo
    color #333

.menu
  background #999
  height 40px

.slide
  position relative
  background azul1
  height 600px

.clientes
  background #fff
  height 170px

.ecommerce
  background #ccc
  height 400px

.box
  background azul1
  height 300px
  border 1px solid gris2

.box:nth-child(2n+1)
    background azul2

.mapa
  position relative
  background gris2
  height 500px

.proyectos
    position relative
    background gris1
    height 500px

.contactenos
    position relative
    background magenta2
    height 100px

footer
  background azul2
  height 200px
